.Rproj.user
.Rhistory
.RData
.Ruserdata
.gitignore
.DS_Store
# all that end with
*~
*.Rproj
*.bak 
# all that start with
.cache*

# secret/private files
password.txt

# huge files
my_25GB-epic-movie.mp4